@import "tailwindcss";

:root {
  --background: #424242;
  --foreground: #ededed;
  --primary: #ff5722;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Estilo focus para elementos */
  input,
  select,
  a,
  button,
  textarea {
    transition-property: outline-color, outline-offset, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  input:focus-visible,
  select:focus-visible,
  a:focus-visible,
  button:focus-visible,
  textarea:focus-visible {
    outline: 2px solid var(--primary);

    outline-offset: 2px;

    border-color: var(--primary);

    box-shadow: none;
  }

  /* Eliminar el botón de revelar contraseña en navegadores WebKit */
  input[type="password"]::-webkit-password-reveal-button,
  input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
    appearance: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none !important;
  }
}
